:root{
    --primary-color:#000000;
    --secondary-color:#ffffff;
    --font-size:32px;
}

.container{
    width: 90%;
    margin: auto;
}

.heading{
    background-color:var(--secondary-color);
    display: flex;
    justify-content: space-between;
    padding: 0px 90px;
    height: 85px;
    margin: 35px;
}

.logo{
    display: flex;
    font-size: var(--font-size);
    padding: 10px;
}

.menu{
    display: inline;
    justify-content: space-between;
    font-size:24px;
    padding: 10px;
    margin: 5px 0;
}

a{
    text-decoration: none;
    color: #000000;
}

.search-area{
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    margin: auto;
}

.search-skill, .search-location, .search-experience, .search-button{
    display: inline-block;    
}

.size {
    padding: 12px 20px;
    margin: 0;
}

